/* .background{
    background-image: url("IMG FILES/Free.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-attachment: scroll;
    height: 1000px;
    width: 1000px;
}

.box1,.box2{
    height: 100px;
    width: 100px;

}
.box1{
    margin: 30px;
    background-color: aquamarine;

}
.box2{
    padding: 30px;
    background-color: blueviolet;
}

.wrapper{
    background-color: brown;
}

.important{
    border: 1px solid black;
    width: 140px;
    overflow: hidden;
}
 */